// Color Variables
$prim-c: #fafafa;
$sec-c: #220000;

//Social colors
$insta-c: #cc0068;
$face-c: #41b9ff;
$twit-c: #0d73ad;
$yt-c: #df0b27;

// Shadow
$shadow: 0 5px 15px rgba($sec-c, 0.5);

// bg image
$bg-img: url(/SASS/img/background-img.jpg);

//Resposive
$tablet-L: 768px;
$tablet: 768px;
$phone: 375px;